<div class="container text-center">
  <div class="product mb-3">
    <h2 class="text-white fs-1">{{lineup.title}}</h2>
    <video controls class="h-75 mb-3">
      <source src={{lineup.videoUrl}} type="video/mp4" />
      Your browser does not support HTML video.
    </video>
    <div class="card-body">
      <h5 class="card-title text-bg-danger fs-4 d-inline p-1 px-3 rounded-pill">{{lineup.agent.name}}</h5>
      <h5 class="card-title text-bg-danger fs-4 d-inline p-1 px-3 rounded-pill">{{lineup.map.name}}</h5>
      <h5 class="card-title text-bg-danger fs-4 d-inline p-1 px-3 rounded-pill">{{lineup.lineUpType}}</h5>
    </div>
  </div>
</div>