

<h2 class="text-white"> Update a lineup!</h2>

<form action="/lineups/{{lineup._id}}/update" method="post">
  <label class="text-white">
    Title:
    <input type="text" name="title" value={{lineup.title}} />
  </label>
  <label class="text-white">
    Agent:
    <select name="agent">
      <option value={{lineup.agent}} disabled selected hidden>{{lineup.agent.name}}</option>
      {{#each agents}}
          <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
  </label>
  <label class="text-white">
    Map:
    <select name="map">
      <option value={{lineup.map}} disabled selected hidden>{{lineup.map.name}}</option>
      {{#each maps}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
  </label>
  <label class="text-white">
    Attack/Defense:
    <select name="lineUpType">
      <option value="attack">Attack</option>
      <option value="defense">Defense</option>
      <option value="both">Both</option>
    </select>
  </label>
  <button>Update</button>
</form>

